

.product,
.shop {
    position: relative
}

.product .product-image {
    position: relative;
    overflow: hidden
}

.product-image .slide a,
.product-image img,
.product-image>a {
    display: block;
    width: 100%
}

body:not(.device-touch):not(.device-sm):not(.device-xs) .product-image>a {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.product-image>a:nth-of-type(2) {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0
}

.product-image:hover>a:nth-of-type(2) {
    opacity: 1;
    z-index: 2
}

.product-desc {
    padding: 15px 0
}

.product-title {
    margin-bottom: 7px
}

.product-title h3 {
    margin: 0;
    font-size: 20px
}

.product-title h3 a,
.single-product .product-title h2 a {
    color: #333
}

.product-title h3 a:hover,
.single-product .product-title h2 a:hover {
    color: #1abc9c
}

.product-price {
    font-size: 18px;
    font-weight: 700;
    color: #444;
    margin-bottom: 4px
}

.product-price del {
    font-weight: 400;
    font-size: 90%;
    color: #888
}

.product-price ins {
    text-decoration: none;
    color: #1abc9c
}

.product-image>.badge,
.sale-flash {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5
}

.single-product .product {
    width: 100%;
    margin: 0
}

.portfolio-ajax-modal,
.shop-quick-view-ajax {
    position: relative;
    background-color: #fff;
    width: auto;
    max-width: 800px;
    margin: 0 auto
}

.portfolio-ajax-modal {
    max-width: 1000px
}

.single-product .product-image,
.single-product .product-image img {
    height: auto
}

.single-product .product-title h2 {
    font-size: 28px;
    margin-bottom: 8px
}

.single-product .product-price {
    font-size: 24px;
    color: #1abc9c;
    margin-bottom: 0
}

.single-product .product-desc .line {
    margin: 20px 0
}

.quantity {
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 30px
}

.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.quantity .qty {
    width: 50px;
    height: 40px;
    line-height: 40px;
    border: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #eee;
    text-align: center;
    margin-bottom: 0
}

.quantity .minus,
.quantity .plus {
    display: block;
    cursor: pointer;
    border: 0 transparent;
    padding: 0;
    width: 36px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #eee;
    font-size: 16px;
    font-weight: 700;
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear
}

.quantity .minus:hover,
.quantity .plus:hover {
    background-color: #ddd
}

.quantity .minus:focus,
.quantity .plus:focus,
.quantity .qty:focus {
    box-shadow: none !important;
    outline: 0 !important
}

.product-meta {
    font-size: 90%;
    color: #777
}

.product-meta>.card-body>span {
    display: inline-block;
    margin: 0 5px
}

.single-product .fbox-plain.fbox-sm .fbox-icon {
    width: 2.25rem
}

.single-product .fbox-plain.fbox-sm .fbox-icon i {
    font-size: 18px;
    line-height: 1.5
}

.main-start {
    color: #cfcfcf;
    margin-top: 80px;
    background: #fff;
}

.min-vh-50 {
    min-height: 50vh!important;
}
.text-box {
    height: auto;
    min-height: 32px;
    width: 100%;
    BACKGROUND: #fff;
    font-size: 12px;
    width: 100%;
    color: #333;
    padding: 3px 5px;
    border: 1px solid #a19e9e;
}

.form-info {
    color: #000;
    font-size: 14px;
}

.info-warning {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    color: #b73f45;
}

.overlay-modal {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background: rgba(51, 51, 51, 0.50);
    z-index: 1100;
    display: none;
}

.modal-dialog {
    padding-top: 50px;
    max-width: 650px;
    margin: 0 auto;
}

.mr-1 {
    margin-right: 0.20rem;
}

.form-title {
    font-size: 2rem;
}

.form-title-child {
    font-size: 1.3rem;
}

.form-title ,
.form-title-child {
    color: #333;
    display: block;
    padding-bottom: 8px;
}

.form-input {
    width: 100%;
}