.text-center {
    text-align: center;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.dropdown-menu {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 7px;
    background: #343434;
    color: #fff !important;
}

.dropdown-item {
    display: inline-block !important;
    width: 100%;
    color: #ff9800;
    text-decoration: none;
}

.overlay-modal {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background: rgba(51, 51, 51, 0.50);
    z-index: 1100;
    display: none;
}

.modal-dialog {
    margin-top: 50px;
    max-width: 650px;
    margin: 0 auto;
    text-size-adjust: none;
}

input[type=date] {
    line-height: normal !important;
}

td .btn {
    border-radius: 0 !important;
}

.text-danger {
    --bs-text-opacity: 1;
    color: rgba(220,53,69, 100)!important;
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -.125em;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinner-border;
    animation: .75s linear infinite spinner-border;
}

@keyframes spinner-border {
    to { transform: rotate(360deg) }
  }

@keyframes spinner-grow {
    0% {
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: none;
    }
  }

  .spinner-overlay {
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
    background: rgba(240, 237, 237, 0.5);
    z-index: 9999;
    display: none;
  }

  .spinner-show {
    display: flex !important;
  }


  
.card > .loading-img,
.card > .overlay,
.info-box > .loading-img,
.info-box > .overlay,
.overlay-wrapper > .loading-img,
.overlay-wrapper > .overlay,
.small-box > .loading-img,
.small-box > .overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card .overlay,
.info-box .overlay,
.overlay-wrapper .overlay,
.small-box .overlay {
    border-radius: .25rem;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(255,255,255,.7);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1000;
}

    .card .overlay > .fa,
    .card .overlay > .fab,
    .card .overlay > .far,
    .card .overlay > .fas,
    .card .overlay > .glyphicon,
    .card .overlay > .ion,
    .info-box .overlay > .fa,
    .info-box .overlay > .fab,
    .info-box .overlay > .far,
    .info-box .overlay > .fas,
    .info-box .overlay > .glyphicon,
    .info-box .overlay > .ion,
    .overlay-wrapper .overlay > .fa,
    .overlay-wrapper .overlay > .fab,
    .overlay-wrapper .overlay > .far,
    .overlay-wrapper .overlay > .fas,
    .overlay-wrapper .overlay > .glyphicon,
    .overlay-wrapper .overlay > .ion,
    .small-box .overlay > .fa,
    .small-box .overlay > .fab,
    .small-box .overlay > .far,
    .small-box .overlay > .fas,
    .small-box .overlay > .glyphicon,
    .small-box .overlay > .ion {
        color: #343a40;
    }

/*** Overlay ***/
.overlay {
    display: none !important;
}

.overlay-show {
    display: flex !important;
}

.toast-container {
  z-index: 9999;
}

.auth-login {
    overflow-y: auto;
}

.modal-dialog-centered {
    margin-top: 75px;
}

.modal-default {
    background: rgba(0, 0, 0, 0.70);
}