.text-center {
    text-align: center;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.dropdown-menu {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 7px;
    background: #343434;
    color: #fff !important;
}

.dropdown-item {
    display: inline-block !important;
    width: 100%;
    color: #ff9800;
    text-decoration: none;
}

.overlay-modal {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background: rgba(51, 51, 51, 0.50);
    z-index: 1100;
    display: none;
}

.modal-dialog {
    padding-top: 50px;
    max-width: 650px;
    margin: 0 auto;
    text-size-adjust: none;
}

input[type=date] {
    line-height: normal !important;
}

td .btn {
    border-radius: 0 !important;
}
