.text-center {
    text-align: center;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.dropdown-menu {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 7px;
    background: #343434;
    color: #fff !important;
}

.dropdown-item {
    display: inline-block !important;
    width: 100%;
    color: #ff9800;
    text-decoration: none;
}